<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="top">
      <h1>Register</h1>
    </div>
    <div class="form-area">
      <%= devise_error_messages! %>
      <div class="group">
        <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
        <i class="fa fa-envelope-o"></i>
      </div>
      <div class="group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control",  placeholder: "Password" %>
        <i class="fa fa-key"></i>
        <div>
          <% if @minimum_password_length %>
              <em class="text-sm-left text-info">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">REGISTER NOW</button>
    </div>
<% end %>
<div class="footer-links row">
  <div class="col"><a href="<%= url_for new_session_path(resource_name) %>"><i class="fa fa-sign-in"></i> Login</a></div>
  <div class="col text-right"><a href="<%= url_for new_password_path(resource_name) %>"><i class="fa fa-lock"></i> Forgot password</a></div>
</div>