<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="top">
      <h1>Change password</h1>
    </div>
    <div class="form-area">
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control",  placeholder: "New password" %>
        <i class="fa fa-key"></i>
      </div>

      <div class="group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",  placeholder: "Confirm new password" %>
        <i class="fa fa-key"></i>
      </div>
      <button type="submit" class="btn btn-default btn-block">Change my password</button>
    </div>
<% end %>