<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="top">
      <h3>Forgot password?</h3>
    </div>
    <div class="form-area">
      <%= devise_error_messages! %>
      <div class="group">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
        <i class="fa fa-envelope-o"></i>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Reset password</button>
    </div>
<% end %>
<div class="footer-links row">
  <div class="col"><a href="<%= url_for new_registration_path(resource_name) %>"><i class="fa fa-external-link"></i> Sign up</a></div>
  <div class="col text-right"><a href="<%= url_for new_session_path(resource_name) %>"><i class="fa fa-sign-in"></i> Login</a></div>
</div>