<div class="upload-block">
  <div class="info_block">
    Drop files here  <br/>
    or
    <div class="photo-upload">
      <%= form_tag import_url, class: "form-inline fileupload",
                   multipart: true, remote: true, id: "new_keywords" do  %>
          <div>
            <span class="btn btn-success fileinput-button">
                               <i class="glyphicon glyphicon-plus"></i>
                                  <span>Add files...</span>
              <%= file_field_tag(:file, multiple: true) %>
                            </span>
          </div>
      <% end %>
    </div>
  </div>
</div>
<div class="clearfix"></div>


<div id="progress-upload">
  <script id="template-upload" type="text/x-tmpl">
                  <div class="upload">
                     {%=o.name%}   <span class="status pull-right label label-success"></span>
                     <br/>
                    <div class="progress">
                       <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                       </div>
                    </div>
                  </div>
                </script>
</div>



