<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="top">
      <h1>Search MicroService</h1>
    </div>
    <div class="form-area">
      <div class="group">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        <i class="fa fa-user"></i>
      </div>
      <div class="group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        <i class="fa fa-key"></i>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="checkbox checkbox-primary">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
      <% end -%>
      <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
    </div>
<% end %>
<div class="footer-links row">
  <div class="col"><a href="<%= url_for new_registration_path(resource_name) %>"><i class="fa fa-external-link"></i> Register Now</a></div>
  <div class="col text-right"><a href="<%= url_for new_password_path(resource_name) %>"><i class="fa fa-lock"></i> Forgot password</a></div>
</div>
