<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><%= raw sort_link "name", "Keyword" %></th>
        <th class="text-right"><%= sort_link "created_at", "Date" %></th>
      </tr>
      </thead>
      <tbody>
      <% @keywords.each do |keyword| %>
          <tr>
            <td><%= link_to keyword.name, keyword_path(keyword) %></td>
            <td class="text-right text-muted"><%= keyword.created_at.strftime("%m/%d/%Y") %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% unless @keywords %>
        <p class="alert alert-warning">
          You have not uploaded any keyword at the moment feel free to search for keywords or upload via the url.
        </p>
    <% end %>
  </div>
</div>