<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><%= raw sort_link "keywords.name", "Keyword" %></th>
        <th><%= sort_link "price" %></th>
      </tr>
      </thead>
      <tbody>
      <% @search_results.each do |search_result| %>
          <tr>
            <td><%= search_result.keyword.name %></td>
            <td><%= search_result.clean_link %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>