
<div class="row">
  <div class="col-12" style="margin-top: 60px;">
    <h1 class=""><%= @keyword.name %></h1>
    <div class="info-block" >
      <span>Top Ads <b class="badge badge-info"><%= @top_ads.size %></b></span> &bull; Bottom Ads <b class="badge badge-info"><%= @bottom_ads.size %></b> &bull;
      None Ads <b class="badge badge-info"><%= @search_query.size %></b> &bull;
      Total Ads <b class="badge badge-info"><%= @keyword.number_ads %></b></span>
    </div>
  </div>
</div>
<hr/>


<div class="row">
  <% @search_results.each do |search| %>
  <div class="col-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><%= raw search.title %></h4>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= raw search.is_top_add? || search.is_bottom_add? ? "Ads &nbsp" : ""%>
          <%= link_to search.clean_link, url_for(search.url), class: search.is_top_add? || search.is_bottom_add? ? "is-ad" : ""%>
        </h6>
        <p class="card-text"><%= search.content %></p>
      </div>
    </div>
    <br/>
  </div>
  <% end %>

</div>