// Place all the styles related to the keywords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #28baed;
  }
}

.is-ad{
  color: #2f5424;
  &:hover{
    text-decoration: none;
    color: #3a5406;
  }
}

.card-subtitle{
  word-wrap: break-word;
}