// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* =================================================================================
Login Pages
================================================================================= */
.login-form {
  width: 360px;
  padding-top: 100px;
  margin: 0px auto;
  text-shadow: none;
   form {
     background: #fff;
     border: 1px solid #ddd;
     border-radius: 3px;
     img{
       margin-bottom: 18px;
     }
     .profile{
       border-radius: 999px;
     }
     .top {
       border-bottom: 1px solid #ddd;
       text-align: center;
       padding: 30px 0;
       .icon {
         width: 100px;
         height: 100px;
       }
       h1, h4{
         margin: 0;
       }
       h1 {
         color: #37363E;
         font-size: 30px;
         font-family: 'Montserrat', sans-serif;
         font-weight: bold;
         margin-top: -14px;
       }
       h4 {
         font-weight: normal;
         color: #76757B;
         font-size: 15px;
       }
     }
     .form-area {
       padding: 40px;
       .group {
         position: relative;
         margin-bottom: 20px;
         .form-control{
           padding-left: 38px;
           height: 40px;
         }
       }
       .fa{
         position: absolute;
         top: 11px;
         left: 13px;
         font-size: 16px;
         color: #C3C3C3;
       }
     ;
     }

   }
}

.login-form form .form-area .btn {
  height: 42px;
  font-weight: 600;
}
.login-form form .form-area .checkbox {
  margin-bottom: 20px;
}
.login-form .footer-links {
  color: #76757B;
  padding: 10px 5px;
}
.login-form .footer-links a {
  color: #76757B;
}
.login-form .footer-links a:hover {
  color: #37363e;
}



.upload-block{
  border: 4px dashed #bbb;
  height: 200px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.info_block{
  margin: 30px auto;
  width: 53%;
  text-align: center;
  font-size: 27px;
  color: #9c9c9c;
}

.info-block{
  font-size: 15px;
  color: #9c9c9c;
}

.fileinput-button{
  float: none;
  font-size: 16px;
}

.contest-state{
  margin: 21px auto;
}

.progress-striped .progress-bar, .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

#progress-upload{
  margin-top: 20px;
}

.no-margin-right{
  margin-left: 0;
  padding-left: 0;
}

.file-list__filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.file-list__meta-data{
  list-style: none;
}

.file-list__meta-data__item {
  font-size: 12px;
  color: #8f95a3;
  list-style-type: none;
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0;
  font-family: open_sansregular, Helvetica, Arial !important;
}

.fileupload{
  display: block;
}