<% if flash.any? %>
          <% flash.each do |name, msg| %>
              <div class="kode-alert alert<%= name == "notice" ? "4" : "9" %>">
                <a class="closed" data-dismiss="alert">×</a>
                <%= msg %>
              </div>
          <% end %>
<% end %>