<header class="navbar navbar-light navbar-toggleable-md bd-navbar">
  <nav class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="fa fa-google"></i></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= url_for root_url %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <%=  link_to "My Keywords", keywords_url, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Search Results", reports_url, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
      <%= form_tag(search_url, method: "get", class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag(:q, @q, class: "form-control mr-sm-2", placeholder: "Keyword") %>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-google"></i> &nbsp; Search</button>
      <% end %>
    </div>
  </nav>
</header>