<!DOCTYPE html>
<html>
<head>
  <title>Challenge</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <style type="text/css">
      body{background: #F5F5F5;}
  </style>

  <%= csrf_meta_tags %>
</head>
<body>
    <div class="login-form">
      <%= render "login_flash_messages" %>
        <%= yield %>
    </div>

</body>
</html>


